body {
    background-color: powderblue;
}

input {
    display: inline-block;
    padding: 0.6em;
    margin: 0.2em;
    font-size: 2em;
    background-color: white;
    border: 2px solid lime;
    width: 1em;
    height: 1em;
    text-align: center;
}

.cell-locked {
    background-color: #EEEEEE;
    border: 2px solid darkgrey;
    color: #555555;
    font-weight: bold;
}

input.cell-invalid {
    background-color: #FFCCCC;
    color: FF0000;
}

input.cell-valid {
    background-color: #CCFFCC;
    color: 000000;
}

input.cell-empty {
    background-color: #FFFFFF;
    color: 000000;
}

input.cell-invalid-row {
    border-bottom: 3px solid red;
    border-top: 3px solid red;
}

input.cell-invalid-col {
    border-right: 3px solid red;
    border-left: 3px solid red;
}

div.square {
    display: inline-block;
    margin: 0.5em;
    border: 2px solid black;
    padding: 0.5em;
}